.form {
  display: flex;
  justify-content: center;
  align-items: center;
}
.form-label {
  position: relative;
  right: 40px;
  font-size: 22px;
  font-weight: bold;
  color: #ffb9b9;
  /* padding-right: 40px; */
}
.form-input {
  outline: none;
  padding-left: 10px;
  position: relative;

  border-style: solid;
  border-radius: 10px;
  border-color: #ffddd2;
  margin-right: 30px;
  width: auto;
  height: 30px;
  font-size: 20px;
}
.form-input:focus,
:hover {
  border-color: #ff8dc7;
}
.label-text {
  margin-right: 10px;
  color: #ffb9b9;
  font-weight: 200px;
}
.form-btn {
  background-color: #ffddd2;
  border-style: none;
  border: 2px none;
  border-radius: 5px;
  color: white;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  margin: 3px;
}
.form-btn:hover {
  border: 2px solid #ffacc7;
}
